<%= form_for @driver do |f| %>
  <% if @driver.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@driver.errors.count, "error") %> prohibited this driver from being saved:</h2>

      <ul>
      <% @driver.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

	<%= f.text_field :name %>
	<%= f.file_field :image %>

<hr />
Availability:<br />
  <%= f.fields_for :availabilities do |builder| %>
    <%= render 'layouts/availability', f: builder %>
  <% end %>
  <div id="newAvail">
	</div>
<hr />

	<fieldset>
		<legend>Select shifts</legend>
		<%= f.collection_check_boxes :shift_ids, @driver.available_shifts, :id, :to_s	 %>
	</fieldset>

	<%= f.submit %>

<% end %>

<script>
// Find the last <select> with an ID that starts with "driver_availabilities_attributes_"

//var s = document.getElementsByTagName("select");
var s = $("select");
var lastDASelect;
var dANum;
$.each($("select"), function(){
  if(this.id.substring(0,33) == "driver_availabilities_attributes_")
    lastDASelect = this;
});

if(lastDASelect != null)
{
  dANum = lastDASelect.id.substring(33, 999);
  dANum = dANum.substring(0, dANum.indexOf("_"));
}

// When someone selects something, if all 3 choices are NULL then do the collapse thing that makes sure only one empty thing is showing.

</script>
